.container {
  max-width: 72rem;
  padding: 5rem 3rem;
  margin: auto;
  border: 2px solid white;
  border-radius: 2px;
  position: relative;
}

.flex {
  display: flex;
  align-items: center;
}

.separator {
  border-bottom: 2px solid var(--color-white);
  margin: 5rem 0;
}

#page {
  padding-top: 6rem;
  padding-bottom: 10rem;
  background: #63326e;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  position: relative;
}


@media only screen and (max-width: 37.5em) {
  .container {
    border: none;
    padding: 2rem;
  }

  #page {
    padding: 0;
  }

  .separator {
    margin-top: 7rem;
  }
}
