.container {
  max-width: 72rem;
  padding: 5rem 3rem;
  margin: auto;
  margin-top: 6rem;
  border: 2px solid white;
  border-radius: 2px;
  position: relative;
}

.flex {
  display: flex;
  align-items: center;
}

.separator {
  border-bottom: 2px solid var(--color-white);
  margin: 5rem 0;
}

@media only screen and (max-width: 37.5em) {
  .container {
    border: none;
    padding: 0 2rem;
    margin-top: 0;
  }
}